<div class="card">
  <div class="card-body">
    <div class="card-text">
      <blockquote class="blockquote">
        <p><%= comment.body %></p>
        <footer class="blockquote-footer"><%= comment.commenter %></footer>
      </blockquote>
    </div>
  </div>
</div>
